{% load static %}
<footer class="footer-container">
    <div class="item website-name-white">
        <a href="{% url 'home' %}">
            <span>Cycl</span>
            <img class="logo" src="{% static 'img/logo_white.png' %}" alt="Logo">
            <span>neSense</span>
        </a>
    </div>

    <form class="item item1" action="#" method="get">
        <label for="doubt">Need Help?</label>
        <input type="text" id="doubt" placeholder="Ask a doubt...">
        <button type="submit"><img src="{% static 'img/send.png' %}" alt="Send Message"></button>
    </form>

    <article class="item item2">
        <p>By Vedant (03), Shreyash (39), Samhita (40)</p>
    </article>
</footer>