{% load static %}
<footer class="footer-container">
    <div class="item website-logo">
        <a href="{% url 'home' %}">
            <img class="logo" src="{% static 'img/logo.png' %}" alt="Cycl Logo">
        </a>
    </div>

    <div class="item item1">
        <h2>Need Help?</h2>
    </div>
    <div class="item item2">
        <input type="text" placeholder="Ask a doubt...">
    </div>
    <div class="item item3">
        <button>Send</button>
    </div>
 
    <article class="item item4">
        <p>By Vedant (03), Shreyash (39), Samhita (40)</p>
    </article>
</footer>