{% load static %}
<header class="header-container">
    <div class="website-name-blue">
        <a href="{% url 'home' %}">
            <span>Cycl</span>
            <img class="logo" src="{% static 'img/logo_blue.png' %}" alt="Logo">
            <span>neSense</span>
        </a>
    </div>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'analysis' %}">Analysis</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
        </ul>
    </nav>
    <script text="text/javascript" src="{% static 'js/header.js' %}"></script>
</header>