{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="banner">
    <div class="banner-content">
        <h1>Research Papers</h1>
        <p>Check out the different Research papers that we referred for our project below! </p>
        <a rel="articles next" href="#reference-articles">
            <button type="button" class="btn"> Explore Articles </button>
        </a>
    </div>
    <div class="cross-div1"></div>
    <div class="cross-div2"></div>
</section>

<section id="reference-articles">
    <h2 class="refer-head">Reference Articles</h2>
    <div class="referrences">
        <div class="refer-item">
            <h4>Deepti: Deep-Learning-Based Tropical Cyclone Intensity Estimation</h4>
            <!-- <h4>Research Paper Name 2</h4> -->
            <div>
                <img src="{% static 'img/pages.png' %}" alt="No. of Pages">
                <p>11 Pages</p>
                <a rel="alternate external noopener" href="https://ieeexplore.ieee.org/document/9149719" target="_blank">
                    <img src="{% static 'img/download.png' %}" alt="Document Link">
                </a>
            </div>
            <a rel="alternate external noopener" href="#" target="_blank">
                <button>Download PDF</button>
            </a>
        </div>
        <div class="refer-item">
            <h4>Prediction of Cyclone and Its Classification using Deep Learning Techniques</h4>
            <div>
                <img src="{% static 'img/pages.png' %}" alt="No. of Pages">
                <p>06 Pages</p>
                <a rel="alternate external noopener" href="https://ijirt.org/master/publishedpaper/IJIRT150228_PAPER.pdf" target="_blank">
                    <img src="{% static 'img/download.png' %}" alt="Document Link">
                </a>
            </div>
            <a rel="alternate external noopener" href="#" target="_blank">
                <button>Download PDF</button>
            </a>
        </div>
        <div class="refer-item">
            <h4>Intensity Analysis of Tropical Cyclone using Dvorak Technique</h4>
            <div>
                <img src="{% static 'img/pages.png' %}" alt="No. of Pages">
                <p>06 Pages</p>
                <a rel="alternate external noopener" href="https://www.ijser.org/onlineResearchPaperViewer.aspx?Intensity-Analysis-of-Tropical-Cyclone-using-Dvorak-Technique.pdf" target="_blank">
                    <img src="{% static 'img/download.png' %}" alt="Document Link">
                </a>
            </div>
            <a rel="alternate external noopener" href="#" target="_blank">
                <button>Download PDF</button>
            </a>
        </div>
        <div class="refer-item">
            <h4><pre>          Capsule Networks- A survey          </pre></h4>
            <div>
                <img src="{% static 'img/pages.png' %}" alt="No. of Pages">
                <p>16 Pages</p>
                <a rel="alternate external noopener" href="https://www.sciencedirect.com/science/article/pii/S1319157819309322" target="_blank">
                    <img src="{% static 'img/download.png' %}" alt="Document Link">
                </a>
            </div>
            <a rel="alternate external noopener" href="#" target="_blank">
                <button>Download PDF</button>
            </a>
        </div>
        <div class="refer-item">
            <h4>ImageNet classification with deep convolutional neural networks</h4>
            <div>
                <img src="{% static 'img/pages.png' %}" alt="No. of Pages">
                <p>07 Pages</p>
                <a rel="alternate external noopener" href="https://dl.acm.org/doi/10.1145/3065386" target="_blank">
                    <img src="{% static 'img/download.png' %}" alt="Document Link">
                </a>
            </div>
            <a rel="alternate external noopener" href="#" target="_blank">
                <button>Download PDF</button>
            </a>
        </div>
        <div class="refer-item">
            <h4>Tropical Cyclone Track Forecasting Using Fused Deep Learning From Aligned Reanalysis Data</h4>
            <div>
                <img src="{% static 'img/pages.png' %}" alt="No. of Pages">
                <p>13 Pages</p>
                <a rel="alternate external noopener" href="https://www.frontiersin.org/articles/10.3389/fdata.2020.00001/full" target="_blank">
                    <img src="{% static 'img/download.png' %}" alt="Document Link">
                </a>
            </div>
            <a rel="alternate external noopener" href="#" target="_blank">
                <button>Download PDF</button>
            </a>
        </div>
    </div>
</section>

<section id="about-our-project">
    <h2 class="project-head">About our project</h2>
    <div class="project">
        <div class="project-content">
            <h3>You can find our GitHub Repository & Official ISRO INSAT program below!</h3>
            <div class="links">
                <a rel="help noopener" href="https://github.com/Shreyash017/CycloneSense" target="_blank">
                    <button id="github"> <img src="{% static 'img/github_blackbg.png' %}" alt="GitHub Icon">
                        <span>GitHub</span></button>
                </a>
                <a rel="help noopener"
                    href="https://www.isro.gov.in/ISRO_EN/INSAT_3D.html"
                    target="_blank">
                    <button id="isro"><span>ISRO</span><img src="{% static 'img/isro_logo.png' %}"
                            alt="ISRO INSAT-3D Link"></button>
                </a>
            </div>
        </div>
        <div class="project-item"></div>
    </div>
</section>

<section id="our-team">
    <h2 class="team-head">Our Team</h2>
    <div class="team">
        <div class="team-members">
            <div class="photo" id="shreyash"></div>
            <h4>Shreyash Salunke</h4>
            <div class="social">
                <a rel="author noopener" href="https://www.linkedin.com/in/shreyash-salunke" target="_blank">
                    <img src="{% static 'img/linkedin.png' %}" alt="Shreyash-LinkedIn">
                </a>
                <a rel="author noopener" href="https://github.com/Shreyash017" target="_blank">
                    <img src="{% static 'img/github_whitebg.png' %}" alt="Shreyash-GitHub">
                </a>
                <a rel="author noopener" href="mailto: shreyashsalunkesds@gmail.com" target="_blank">
                    <img id="mail" src="{% static 'img/mail.png' %}" alt="Shreyash-Mail">
                </a>
            </div>
        </div>
        <div class="team-members">
            <div class="photo" id="samhita"></div>
            <h4>Samhita Kothandaraman</h4>
            <div class="social">
                <a rel="author noopener" href="https://www.linkedin.com/in/samhita-k-r-73773b235" target="_blank">
                    <img src="{% static 'img/linkedin.png' %}" alt="Samhita-LinkedIn">
                </a>
                <a rel="author noopener" href="#" target="_blank">
                    <img src="{% static 'img/github_whitebg.png' %}" alt="Samhita-GitHub">
                </a>
                <a rel="author noopener" href="mailto: krs302002@gmail.com" target="_blank">
                    <img id="mail" src="{% static 'img/mail.png' %}" alt="Samhita-Mail">
                </a>
            </div>
        </div>
        <div class="team-members">
            <div class="photo" id="vedant"></div>
            <h4>Vedant Bhatkar</h4>
            <div class="social">
                <a rel="author noopener" href="https://www.linkedin.com/in/vedant-bhatkar-0052a3249" target="_blank">
                    <img src="{% static 'img/linkedin.png' %}" alt="Vedant-LinkedIn">
                </a>
                <a rel="author noopener" href="https://github.com/VedantBhatkar" target="_blank">
                    <img src="{% static 'img/github_whitebg.png' %}" alt="Vedant-GitHub">
                </a>
                <a rel="author noopener" href="mailto: vedantbhatkar603@gmail.com" target="_blank">
                    <img id="mail" src="{% static 'img/mail.png' %}" alt="Vedant-Mail">
                </a>
            </div>
        </div>
    </div>
</section>

{% endblock %}