{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="cover">
    <div class="cover-content">
        <h1>Deep Learning based Cyclone Intensity Estimation</h1>
        <a href="{% url 'analysis' %}">
            <button type="button" class="btn"> Find Intensity of cyclone </button>
        </a>
    </div>
</section>

<section class="stats">
    <div>
        <div class="nums">
            <h3 class="counter" upto="726">000</h3>
            <h3>Million</h3>
        </div>
        <p>People killed</p>
    </div>
    <div>
        <div class="nums">
            <h3>$</h3>
            <h3 class="counter" upto="573">000</h3>
            <h3>Billion</h3>
        </div>
        <p>Economic loss</p>
    </div>
    <div id="stats-last">
        <div class="nums">
            <h3 class="counter" upto="590">000</h3>
            <h3>+</h3>
        </div>
        <p>People migrated</p>
    </div>
    <script text="text/javascript" src="{% static 'js/stats.js' %}"></script>
</section>

<section class="technologies">
    <div class="tech tech1 tech-main">
        <h2>Which technologies are we using?</h2>
        <p>The project "Deep Learning Based Cyclone Intensity Estimation" leverages Python programming language along
            with TensorFlow and PyTorch deep learning frameworks. It utilizes satellite imagery datasets for data
            processing and analysis.</p>
    </div>
    <div class="tech">
        <img class="tech-img" src="{% static 'img/ml.png' %}" alt="ML">
        <h3>Machine Learning</h3>
        <p>To analyze historical data.</p>
    </div>
    <div class="tech">
        <img class="tech-img" src="{% static 'img/dl.png' %}" alt="DL">
        <h3>Deep Learning</h3>
        <p>To analyze complex patterns.</p>
    </div>
    <div class="tech tech1 tech-low">
        <img class="tech-img" src="{% static 'img/dvorak.png' %}" alt="Dvorak Technique">
        <h3>Dvorak Technique</h3>
        <p>By comparing the results of the deep learning model with the Dvorak Technique, the project aims to assess the
            accuracy and effectiveness of the deep learning approach in cyclone intensity estimation.</p>
    </div>
    <div class="tech tech-low">
        <img class="tech-img" src="{% static 'img/cnn.png' %}" alt="CNN">
        <h3>CNN</h3>
        <p>CNNs are employed as the primary deep learning architecture.</p>
    </div>
    <div class="tech tech-low">
        <img class="tech-img" src="{% static 'img/capsule.png' %}" alt="Capsule-CNN">
        <h3>Capsule N.N</h3>
        <p>CapsNets are designed to capture spatial relationships</p>
    </div>
</section>
{% endblock %}